mixin createPostForm(userLoggedIn)
    .postFormContainer
        .userImageContainer
            img(src=userLoggedIn.profilePicture, alt="Profile picture")
        .textareaContainer
            textarea#postTextarea(maxlength="140", placeholder="What's jammin'?")
            .buttonsContainer
                button#submitPostButton(disabled="") Post

mixin createCommentModal(userLoggedIn)
    #commentModal.modal.fade(tabindex="-1", aria-labelledby="commentModalLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    h5#commentModalLabel.modal-title Comment
                    button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
                .modal-body
                    #originalPostContainer
                    .postFormContainer
                        .userImageContainer
                            img(src=userLoggedIn.profilePicture, alt="Profile picture")
                        .textareaContainer
                            textarea#commentTextarea(maxlength="140", placeholder="What's jammin'?")
                .modal-footer
                    button#closeModalButton.btn.btn-secondary(type="button", data-bs-dismiss="modal") Close
                    button#submitCommentButton.btn.btn-primary(type="button", disabled="") Send

mixin createDeletePostModal()
    #deletePostModal.modal.fade(tabindex="-1", aria-labelledby="deletePostModalLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    h5#deletePostModalLabel.modal-title Delete the post?
                    button.btn-close(data-bs-dismiss="modal", aria-label="Close")
                .modal-body
                    p You won't be able to delete this
                .modal-footer
                    button#closeModalButton.btn.btn-secondary(data-bs-dismiss="modal") Close
                    button#deletePostButton.btn.btn-primary Delete

mixin createPostModals(userLoggedIn)
    +createCommentModal(userLoggedIn)
    +createDeletePostModal()
    +createPinnedPostModal()
    +createUnpinPostModal()

mixin createFollowButton(user, isFollowing)
    - text = isFollowing ? "Forget" : "Remember"
    - buttonClass = isFollowing ? "followButton following" : "followButton"
    button(class=buttonClass, data-user=user._id) #{text}

mixin createProfileTab(tabName, href, isSelected)
    - className = isSelected ? "tab active" : "tab"
    a(href=href, class=className)
        span #{tabName}

mixin createImageUploadModal()
    #imageUploadModal.modal.fade(tabindex="-1", aria-labelledby="imageUploadModalLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    h5#imageUploadModalLabel.modal-title Upload new profile picture
                    button.btn-close(data-bs-dismiss="modal", aria-label="Close")
                .modal-body
                    input#filePhoto(type="file", name="filePhoto")

                    .imagePreviewContainer
                        img#imagePreview
                .modal-footer
                    button#closeModalButton.btn.btn-secondary(data-bs-dismiss="modal") Cancel
                    button#imageUploadButton.btn.btn-primary Upload

mixin createEditProfileModal(profileData, userLoggedIn)
    #editProfileModal.modal.fade(tabindex="-1", aria-labelledby="editProfileModalLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    h5#editProfileModalLabel.modal-title Edit profile information
                    button.btn-close(data-bs-dismiss="modal", aria-label="Close")
                .modal-body
                    .updateContainer
                        form#updateForm(method="post", onsubmit="event.preventDefault()") 

                            i.fa-solid.fa-eye
                            input#firstName(type="text", name="firstName", placeholder="First name", value=profileData.firstName, required="")
                            i.fa-solid.fa-eye
                            input#lastName(type="text", name="lastName", placeholder="Last name", value=profileData.lastName, required="")
                            i.fa-solid.fa-eye
                            input#username(type="text", name="username", placeholder="Username", value=profileData.username, required="")
                            i.fa-solid.fa-eye
                            input#email(type="email", name="email", placeholder="Email", value=profileData.email, required="")
                            p#logoutWarning *Changing profile information forces you to relog
                    
                    script.
                        const form = document.getElementById("UpdateForm")

                .modal-footer
                    button#closeModalButton.btn.btn-secondary(data-bs-dismiss="modal") Cancel
                    button#editProfileButton.btn.btn-primary(type="submit", value="Update account") Save

mixin createCoverPhotoUploadModal()
    #coverPhotoUploadModal.modal.fade(tabindex="-1", aria-labelledby="coverPhotoModalLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    h5#coverPhotoModalLabel.modal-title Upload new cover photo
                    button.btn-close(data-bs-dismiss="modal", aria-label="Close")
                .modal-body
                    input#coverPhoto(type="file", name="filePhoto")

                    .imagePreviewContainer
                        img#coverPreview
                .modal-footer
                    button#closeModalButton.btn.btn-secondary(data-bs-dismiss="modal") Cancel
                    button#coverPhotoButton.btn.btn-primary Upload

mixin createPinnedPostModal()
    #confirmPinModal.modal.fade(tabindex="-1", aria-labelledby="confirmPinModalLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    h5#confirmPinModalLabel.modal-title Pin this post?
                    button.btn-close(data-bs-dismiss="modal", aria-label="Close")
                .modal-body
                    p This post will appear at the top of your profile. You can only pin one post!
                    .imagePreviewContainer
                        img#coverPreview
                .modal-footer
                    button#closeModalButton.btn.btn-secondary(data-bs-dismiss="modal") Cancel
                    button#pinPostButton.btn.btn-primary Pin

mixin createUnpinPostModal()
    #unpinModal.modal.fade(tabindex="-1", aria-labelledby="unpinModalLabel", aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    h5#unpinModalModalLabel.modal-title Unpin this post?
                    button.btn-close(data-bs-dismiss="modal", aria-label="Close")
                .modal-body
                    p This post will be unpinned
                    .imagePreviewContainer
                        img#coverPreview
                .modal-footer
                    button#closeModalButton.btn.btn-secondary(data-bs-dismiss="modal") Cancel
                    button#unpinPostButton.btn.btn-primary Unpin

mixin createMessageImage(chatData, userLoggedIn)
    if(!chatData)
        return

    - let i = 0
    - const maxImagesToShow = 3
    - let remainingUsers = chatData.users.length - maxImagesToShow
    - remainingUsers-- // Removing own image
                        
    .messageImagesContainer 

        if remainingUsers > 0
            .userCount
                span +#{remainingUsers}    

        each user in chatData.users
            if chatData.users.length != 1 && user._id == userLoggedIn._id
                - continue
            else if i >= maxImagesToShow 
                - break
            img(src=user.profilePicture, alt="User's profile picture", title=user.firstName)
            - i++